.game{
    margin-top: 2rem;
}
.game h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.top{
    color: #fff;
}
.top span{
    color: #ecfa00;
}

.points span{
    font-weight: 600;
    color: #ecfa00;
}

.tip{
    margin-top: 0.875rem;
    color: #ecfa00;
}

.wordContainer{
    margin: 1.5rem;
    padding: 1.5rem;
    display: flex;
}

.letter, .blankSquare{
    font-size: 2rem;
    border: 2px solid #1f1f1f;
    background-color: #f1f1f1;
    height: 64px;
    width: 64px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer p,
.wrongLetterContainer p{
    font-size: 1rem;
    color: #f1f1f1;
    margin-bottom: 1rem;
}

.letterContainer form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.letterContainer input{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 2rem;
}

.wrongLetterContainer{
    margin-top: 1rem;
}
.wrongLetterContainer span{
    color: #ecfa00;
    text-transform: uppercase;
}